email-validator==1.1.3
eventlet
python-engineio==3.14.2
python-socketio==4.6.1
Flask
Flask-Login
Flask-Mail==0.9.1
Flask-MQTT==1.1.1
Flask-Security==3.0.0
Flask-SocketIO==4.3.2
Flask-SQLAlchemy
Flask-WTF
gevent
gevent-websocket==0.10.1
greenlet
gunicorn==20.1.0
mysqlclient==2.1.0
numpy==1.21.4